{% extends 'base.html' %}

{% block content %}<!-- /.main-header -->
        <section class="page-header">
            <div class="page-header__bg"></div>
            <!-- /.page-header__bg -->
            <!-- <div class="page-header__shape"></div> -->
            <!-- /.page-header__shape -->
            <div class="container">
                <h2 class="page-header__title bw-split-in-right" style="perspective: 400px;">
                    {% if current_lang == "uz" %}
    <div style="position:relative;display:inline-block;">
        <div style="position: relative; display: inline-block;">Bog‘lanish</div>
    </div>

{% elif current_lang == "ru" %}
    <div style="position:relative;display:inline-block;">
        <div style="position: relative; display: inline-block;">Контакты</div>
    </div>

{% elif current_lang == "en" %}
    <div style="position:relative;display:inline-block;">
        <div style="position: relative; display: inline-block;">Contact</div>
    </div>

{% else %}
    <div style="position:relative;display:inline-block;">
        <div style="position: relative; display: inline-block;">Contact</div>
    </div>
{% endif %}

                </h2>
                <!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="contact-one">
            <div class="container">
                <div class="contact-one__wrapper">
                    <div class="row">
                        <div class="col-xl-6">

                            <div class="contact-one__content">

                                <ul class="list-unstyled contact-one__info">
                                    <li class="contact-one__info__item">
                                        <div class="contact-one__info__fa fa">
                                            <i class="fa fa-telephone"></i>
                                            <span class="contact-one__info__fa fa__zoom">
                                                <i class="fa fa-telephone"></i>
                                            </span>
                                        </div>
                                        <div class="contact-one__info__content">
                                            <p class="contact-one__info__text">
                                                <a href="tel:+998555122992">+998(55)5122992</a><br>
                                            </p><!-- /.contact-one__info__text -->
                                        </div><!-- /.contact-one__info__content -->
                                    </li>
                                    <li class="contact-one__info__item">
                                        <div class="contact-one__info__fa fa">
                                            <i class="fa fa-mailbox"></i>
                                            <span class="contact-one__info__fa fa__zoom">
                                                <i class="fa fa-mailbox"></i>
                                            </span>
                                        </div>
                                        <div class="contact-one__info__content">
                                            <p class="contact-one__info__text">
                                                <a href="mailto:Liberator.inbox@gmail.com">Liberator.inbox@gmail.com</a><br>
                                                <a href="">www.website.com</a>
                                            </p><!-- /.contact-one__info__text -->
                                        </div><!-- /.contact-one__info__content -->
                                    </li>
                                    <li class="contact-one__info__item">
                                        <div class="contact-one__info__fa fa">
                                            <i class="fa fa-map-pin"></i>
                                            <span class="contact-one__info__fa fa__zoom">
                                                <i class="fa fa-map-pin"></i>
                                            </span>
                                        </div>
                                        <div class="contact-one__info__content">
                                            <p class="contact-one__info__text">
                                                Alisher Navoiy koʻchasi, 30 <br>Shayxontohur tumani, Toshkent
                                            </p><!-- /.contact-one__info__text -->
                                        </div><!-- /.contact-one__info__content -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <iframe src="https://yandex.uz/map-widget/v1/?ll=69.249328%2C41.321922&z=16.79&l=map&pt=69.249328,41.321922,pm2rdl"
    width="100%" height="400" frameborder="0" allowfullscreen="true"></iframe>

        <!-- /.google-map -->
        {% endblock %}