{% extends 'base.html' %}

{% block content %}

        <section class="service-details">
            <div class="container">
                <div class="row gutter-y-30">
                    <div class="col-md-12 col-lg-4">
                        <div class="service-sidebar">
                            <div class="service-sidebar__single">
                                <div class="service-sidebar__title-box">
                                    <h3 class="service-sidebar__title">All Service</h3><!-- /.service-sidebar__title -->
                                </div>
                                <ul class="list-unstyled service-sidebar__nav">
                                    {% for i in service_category%}
                                    <li class=""><a href="{% url 'service' i.pk%}">
                                        {% if current_lang == "uz" %}
                                                {{i.name}}
                                            {% elif current_lang == "ru" %}
                                                {{i.name_ru}}
                                            {% elif current_lang == "en" %}
                                                {{i.name_en}}
                                            {% else %}
                                                {{i.name}}
                                            {% endif %}<i class="fa fa-arrow-right"></i></a></li>
                                    {%endfor%}
                                </ul><!-- /.list-unstyled service-sidebar__nav -->
                            </div><!-- /.service-sidebar__single -->
                            <div class="service-sidebar__single ">
                                <div class="service-sidebar__contact">
    <div class="service-sidebar__contact__image">
        <img src="/static/service_item/service-author.png" alt="procounsel">
    </div>

    {% if current_lang == "uz" %}
        <h3 class="service-sidebar__contact__title">
            Bepul <br> Tezkor Yechim <br> Oling
        </h3>
        <a href="{% url 'contact'%}" class="procounsel-btn"><i>Aloqa</i><span>Aloqa</span></a>

    {% elif current_lang == "ru" %}
        <h3 class="service-sidebar__contact__title">
            Получите Бесплатное <br> Быстрое Решение <br> Вашей Проблемы
        </h3>
        <a href="{% url 'contact'%}" class="procounsel-btn"><i>Контакт</i><span>Контакт</span></a>

    {% elif current_lang == "en" %}
        <h3 class="service-sidebar__contact__title">
            Get a Free <br> Quick Solution <br> of Problem
        </h3>
        <a href="{% url 'contact'%}" class="procounsel-btn"><i>Contact</i><span>Contact</span></a>

    {% else %}
        <h3 class="service-sidebar__contact__title">
            Get a Free <br> Quick Solution <br> of Problem
        </h3>
        <a href="{% url 'contact'%}" class="procounsel-btn"><i>Contact</i><span>Contact</span></a>
    {% endif %}
</div>
<!-- /.service-sidebar__contact -->
                            </div>
                        </div><!-- /.sidebar -->
                    </div><!-- /.col-md-12 col-lg-4 -->
                    <div class="col-md-12 col-lg-8">
                        <div class="service-details__content">
                            <div class="service-details__thumbnail">
                                {% if image%}
                                <img src="{{image.url}}" alt="Criminal Law" style="height: 512px">
                                {% else%}
                                <img src="/static/service_item/service-d-1.jpg" alt="Criminal Law">
                                {% endif %}
                            </div><!-- /.service-details__thumbnail -->


                            <div class="faq-one__accordion procounsel-accrodion" data-grp-name="procounsel-accrodion">
                                {% for i in service%}
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <span class="accrodion__number"></span>
                                        <h4>
                                            {% if current_lang == "uz" %}
                                                {{i.title}}
                                            {% elif current_lang == "ru" %}
                                                {{i.title_ru}}
                                            {% elif current_lang == "en" %}
                                                {{i.title_en}}
                                            {% else %}
                                                {{i.title}}
                                            {% endif %}
                                            <i class="accrodion-title__fa fa"></i><!-- /.accrodion-title__fa fa -->
                                        </h4>
                                    </div><!-- /.accordian-title -->
                                    <div class="accrodion-content" style="display: none;">
                                        <div class="inner">
                                            <p>
                                                {% if current_lang == "uz" %}
                                                {{i.description}}
                                            {% elif current_lang == "ru" %}
                                                {{i.description_ru}}
                                            {% elif current_lang == "en" %}
                                                {{i.description_en}}
                                            {% else %}
                                                {{i.description}}
                                            {% endif %}
                                            </p>
                                        </div><!-- /.accordian-content -->
                                    </div>
                                </div>
                                {% endfor %}<!-- /.accordian-item -->
                            </div>
                        </div><!-- /.service-details__content -->
                    </div><!-- /.col-md-12 col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->

        </section><!-- /.service-details -->

        {%endblock%}